* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Body and container */
body {
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Navbar */
.navbar {
    background-color: #333;
    padding: 10px 0;
}

.navbar .logo a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.navbar .menu {
    list-style: none;
    text-align: right;
}

.navbar .menu li {
    display: inline-block;
    margin-left: 20px;
}

.navbar .menu li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.navbar .menu li a:hover,
.navbar .menu li a.active {
    background-color: #007bff;
}

/* Banner */
.banner {
    position: relative;
    background-image: url('images/image1.jpg');
    background-size: cover;
    color: white;
    padding: 200px 0;
    text-align: left;
    padding-left: 30px;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 22, 58, 0.7);

}

.banner h6 {
    font-size: 20px;
}

.banner h2 {
    font-size: 40px;
    margin: 20px 0;
}

.banner .social-icons {
    list-style: none;
    padding: 0;
}

.banner .social-icons li {
    display: inline-block;
    margin: 10px 10px 10px 0px;
}

.banner .social-icons li a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.banner .btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 20px 10px 20px 0px;
    text-decoration: none;
    border-radius: 5px;
}

.banner .btn:hover {
    background-color: #0056b3;
}

.banner .banner-text {
    position: relative;
    z-index: 1;
}

/* About Section */
#about {
    background-color: white;
    padding: 60px 0;
}

#about .about-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

#about .about-content .image {
    flex: 1;
}

#about .about-content .info {
    flex: 2;
}

#about .info h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

#about .info h4 {
    font-size: 20px;
    margin-top: 20px;
}

#about .skills .skill {
    margin-bottom: 20px;
}

#about .progress-bar {
    height: 8px;
    background-color: #007bff;
}
